<%-include("../partials/header")%> <%-include("../partials/navbar")%>
<div
  class="mx-5 my-5 p-4 border rounded p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
  <div
    class="p-3 mb-2 p-3 mb-2 bg-dark text-white rounded"
    style="text-align: center">
    Edit Product
  </div>
  <form
    class="validated-form"
    action="/products/<%=product._id%>?_method=PATCH"
    method="POST"
    novalidate>
    <div class="mb-3">
      <label for="img" class="form-label">Img</label>
      <input
        type="url"
        class="form-control"
        id="img"
        name="product[img]"
        placeholder="Img URL"
        value="<%=product.img%>"
        required />
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="product[name]"
        placeholder="Product Name"
        value="<%=product.name%>"
        required />
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="product price"
        name="product[price]"
        value="<%=product.price%>"
        required />
    </div>

    <div class="mb-3">
      <label for="desc" class="form-label">Desc</label>
      <input
        type="text"
        class="form-control"
        id="desc"
        placeholder="Description"
        name="product[desc]"
        value="<%=product.desc%>"
        required />
    </div>

    <button type="update" class="btn btn-primary">Update</button>
  </form>
</div>

<!-- <%-include("../partials/footer")%> -->
